.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "./utilitis.css";
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --secendery: #070606;
  --titile: #273549;
  --bg: #1d293a;
  --textinput: #1d293a;
  --border: #414b5d;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
}
body {
  font-family: "Lato", sans-serif;
  background: var(--bg);
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smotthing: antialiased;
}
header {
  background: var(--bg);
}
.container {
  margin: 0 auto;
  max-width: 1152px;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
header nav .left a:hover {
  color: var(--primary);
}
header nav {
  padding: 2rem 0;
}

.mobile-nav .information {
  margin-right: 3rem;
  font-size: 3rem;
}
.mobile-nav .information .fa {
  color: #1d293a;
}
.mobile-nav .information a {
  color: #1d293a;
  padding-bottom: rem;
}

header nav .branding {
  margin-right: 3rem;
  font-size: 3rem;
}
header nav .branding .fa {
  color: var(--primary);
}
.hero {
  align-items: center;
  min-height: 100vh;
  padding: 3rem 0;
}
.hero .left img {
  max-width: 400px;
  width: 39vh;
}
.hero .right {
  color: var(--pure);
}
.hero .right p {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0rem;
}
.hero .right h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero .right h3 {
  line-height: 1.9;
  color: var(--primary);
}
.hero .right ul {
  display: flex;
  list-style: none;
  color: aliceblue;
  font-size: 20px;
  padding-bottom: 2rem;
}
.hero .right ul li {
  padding-right: 0.6rem;
}
.hero .right {
  margin-top: -7rem;
}
.hero .left {
  margin-top: -7rem;
}

.hero .right .header-button .btn-primary {
  margin-right: 1rem;
}

.copy-right .fa {
  opacity: 0.8;
  border-bottom: 2px solid var(--primary);
  font-size: 1.2rem;
  padding-bottom: 9px;
  border-radius: 20px;
  padding: 1rem 1rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.copy-right {
  margin-bottom: 10px;
}
section {
  padding: 3rem 0;
}

.section-title {
  padding-bottom: 2rem;
  position: absolute;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 40px;
  border-bottom: 5px solid var(--titile);
  line-height: 40px;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.section-title span {
  text-align: center;
  color: white;
  font-size: 1rem;
  background: var(--titile);
  display: inline-block;
  padding: 2px 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.section-title span::before {
  position: absolute;
  content: "";
  width: 53%;
  height: 100%;
  background: var(--titile);
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

section.about .about-me-img {
  height: 330px;
}
section.about .about-me-img {
  filter: grayscale(1);

  border-radius: 10px;
  transition: all 1s;
}
section.about img:hover {
  filter: grayscale(0);
  transform: scale(0.95);

  -webkit-filter: grayscale(0);
  cursor: pointer;
}
section.about {
  padding-top: 6rem;
  background: var(--bg);
}
section.about h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}
section.about h1 span {
  color: var(--primary);
}
section.about h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
section.about p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.7;
  margin-bottom: 2rem;
  color: white;
}
section.about .social {
  display: flex;
}

section.about .social a {
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.6rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
section.about .social a:hover {
  background: var(--primary);
}
section.about .social a img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.section-heading + p {
  color: var(--ternary);
  font-family: "lato", sans-serif;
  margin-bottom: 8rem;
  padding-top: 2rem;

  text-align: center;
}

/* //skill */
section.skills {
  background: var(--bg);
  padding-top: 10rem;
}
section.skills .card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}
section.skills .card-wrapper .card {
  background: var(--titile);
  /*padding: 3rem 2rem;
  */

  border-radius: 4px;
  /*padding-top: 5rem;
  */
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

section.skills .card-wrapper .card h4 {
  padding: 1rem;
  font-weight: 600;

  font-size: 1.1rem;
  float: left;

  color: rgb(255, 253, 253);
}

section.skills .card-wrapper .card p {
  float: right;
  padding: 1rem;
  font-weight: 700;

  font-size: 1.2rem;

  color: rgb(255, 253, 253);
}

section.skills .card-wrapper .card .graphic {
  height: 100%;
  display: flow-root;
  width: 90%;
  border-radius: 2px;
  background: var(--primary) !important;
}
section.skills .card-wrapper .card .graphic {
  height: 100%;
  display: flow-root;
  border-radius: 2px;
  background: var(--primary) !important;
}

.percentage_95 {
  width: 95%;
}
.percentage_100 {
  width: 100%;
}
.percentage_90 {
  width: 90%;
}
.percentage_85 {
  width: 85%;
}
.percentage_50 {
  width: 50%;
}
.percentage_75 {
  width: 75%;
}
.percentage_70 {
  width: 70%;
}
.percentage_80 {
  width: 80%;
}

/* service */

section.services {
  background: var(--bg);
  padding-top: 10rem;
}
section.services .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}
section.services .card-wrapper .card {
  background: var(--titile);
  padding: 3rem 2rem;
  position: relative;
  padding-top: 5rem;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
section.services .card-wrapper .card img {
  width: 100px;
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
section.services .card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.6;
}
section.services .card-wrapper .card:hover {
  background: #282c34;
}
section.services .card-wrapper .card:hover h2,
section.services .card-wrapper .card:hover p {
  color: var(--pure);
}

.FontAwesomeIcon {
  background: red;
  padding: 200px;
  color: red;
}
section.freelaner h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
section.freelaner p {
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
}
section.review .slider .slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

section.review .slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem;
}
section.review .slider .slide p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  margin-bottom: 1rem;
}
section.review .slider .slide span {
  font-size: 0.8rem;
  font-weight: 600;
}
section.review .slider-dots .dots {
  display: flex !important;
  list-style-type: none;
  justify-content: center;
}
section.review .slider-dots {
  margin-top: 3rem;
}
section.review .slider-dots button {
  font-size: 0;
  width: 8px;
  height: 5px;
  margin-right: 0.3rem;
  border: none;
  outline: none;
  background-color: var(--ternary);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}
section.review .dots li.slick-active button {
  background: var(--primary);
  width: 25px;
}
section.work {
  background: var(--bg);
}
section.work .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
section.work .card-wrapper .card {
  position: relative;
  height: 250;
}
section.work .card-wrapper .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(61, 207, 211, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light);
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
section.work .card-wrapper .card:hover .overlay {
  opacity: 1;
}
section.work .card-wrapper .card .overlay a {
  color: var(--secendery);
  text-decoration: none;
}
section.work .card-wrapper .card img {
  width: 100%;
  height: 100%;
}

section.blog {
  background: var(--bg);

  padding-bottom: 6rem;
}
section.blog .section-heading {
  color: var(--pure);
}
section.blog .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
section.blog .card-wrapper .card {
  margin-bottom: 2rem;
  border-radius: 5px;
  background: var(--titile);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section.blog .card-wrapper .card .img-wrapper img {
  border-radius: 5px;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.blog .card-wrapper .card .card-content {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* section.blog .card-wrapper .card{
    border-radius: 4%;
} */
section.blog .card-wrapper .card .card-content h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content span {
  color: var(--ternary);
  font-size: 0.8rem;
}
section.blog .card-wrapper p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  margin-bottom: 1rem;
  margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content .content {
  padding-top: 1rem;
  color: white;
  line-height: 27px;
}
section.blog .card-wrapper .card .card-content i {
  opacity: 0.5;
  padding-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
section.blog .card-wrapper .card .card-content .title {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
section.blog .card-wrapper .card .card-content a:hover {
  color: var(--primary);
}
section.blog .card-wrapper .card .card-content a.red-more {
  font-size: 0.8rem;
}
section.contact {
  background: var(--bg);
}
section.contact .card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}
section.contact .card-wrapper .card {
  text-align: center;
}
section.contact .card-wrapper .card img {
  margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1 {
  color: white;
  font-size: 26px;
  border-radius: 30px;
  padding: 3px;
  border-bottom: 5px solid var(--primary);
  margin-bottom: 1rem;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
section.contact .card-wrapper .card h6 {
  font-size: 1rem;
  color: rgb(223, 217, 217);
  font-size: 18px;
  font-weight: 400;
}

section.contact .input-wrap {
  display: grid;
  background: var(--textinput);

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;

  margin-top: 4rem;
}
section.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
section.contact .input-wrap-2 input {
  margin-bottom: 2rem;
  border: 1px solid var(--border);
  font-size: 0.9rem;
  background: var(--textinput);
}
section.contact input {
  background: var(--textinput);
  padding: 0.7rem;
  font-size: 0.9rem;
  border: 1px solid var(--border);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
section.contact .input-wrap-2 textarea {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid var(--border);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
section.contact .input-wrap-2 textarea,
section.contact input:focus {
  outline: none;
  background: var(--textinput);
}

section.contact .btn-wrappeer {
  text-align: center;
  margin-top: 2rem;
}

footer {
  background: var(--titile);
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}
footer h3 {
  opacity: 0.4;
}
footer .fa {
  padding: 4px;
  box-shadow: 0 4px 8px 0 var(--bg);
  transition: 0.3s;
  /* border: 4px solid var(--primary); */
  font-size: 34px;
  opacity: 0.5;
}
footer .footer-logo {
  margin-bottom: 3rem;
  width: 150px;
}
footer .footer-socials a {
  margin-right: 1rem;
}
footer .footer-socials img {
  width: 25px;
  height: 25px;
}
.fa {
  color: rgb(248, 248, 248);
} /* .fa:hover{
     background: rgb(202, 112, 112);
 }
 */
footer .footer-socials {
  margin-bottom: 3rem;
  margin-right: -1rem;
}
footer .copy-right {
  color: var(--ternary);
}

.site-main-wrapper {
  position: relative;
}
.hamberger {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 11;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}
.hamberger img {
  width: 30px;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: #29d9de;
  width: 17rem;
  height: 100%;
  padding: 2rem;
  padding-top: 5rem;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.mobile-nav ul li {
  padding: 1rem 0rem;
}
.mobile-nav .mob-footer {
  position: fixed;
  bottom: 5rem;
}
.mobile-nav .mob-footer .social {
  display: flex;
}
.mobile-nav .mob-footer .social a {
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.6rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.mobile-nav .mob-footer .social a:hover {
  background: var(--primary);
}
.mobile-nav .mob-footer .social a img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.mobile-nav .information a {
  text-decoration: none;
  color: var(--titile);
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 1rem;
}
.mobile-nav .information p {
  color: #414b5d;
  font-size: 0.9rem;
}
.mobile-nav ul {
  padding-top: 1rem;
}
.mobile-nav ul li a {
  color: var(--pure);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  /* transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease; */
}
.mobile-nav ul li a:hover {
  color: var(--secendery);
}
.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.mobile-nav .close-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.mobile-nav .close-btn img {
  width: 20px;
}
.mobile-nav ul {
  list-style-type: none;
}
.header-button a {
  text-decoration: none;
}
@media (max-width: 1024px) {
  header #main-nav {
    display: none;
  }
  .hamberger {
    display: block;
  }
  .hero .left img {
    width: 260px;
  }
  .hero .right h1 {
    font-size: 2rem;
  }
  /* .hero {
    padding-top: 10rem;
  } */

  section.about .about-me-img {
    height: 300px;
    width: auto;
  }
  section.about .flex-1 {
    /* margin-right: 2px; */
  }
  section.about p {
    line-height: 1.5;
    font-size: 15px;
  }
  section.services .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  section.work .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  section.blog .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  section.contact .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 987px) {
  .mobile-aboute {
    flex-direction: column;
  }
  .mobile-aboute h3 {
    padding-top: 1rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header-button {
    /* display: flex; */
  }
  .header-button .btn {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 576px) {
  .hero {
    flex-direction: column;
  }
  .header-button {
    text-align: center;
  }
  .section-title {
    padding-bottom: 2rem;
    position: absolute;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 40px;
    border-bottom: 5px solid var(--titile);
    line-height: 40px;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .section-title span {
    text-align: center;
    color: white;
    font-size: 1rem;
    background: var(--titile);
    display: inline-block;
    padding: 2px 12px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .section-title span::before {
    position: absolute;
    content: "";
    width: 75%;
    height: 100%;
    background: var(--titile);
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  .hero .right h1 {
    font-size: 5vh;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .hero .right {
    /*Addshadowstocreatethe"card"effect*/
    box-shadow: 0 4px 8px 0 var(--titile);
    transition: 0.3s;
    border-bottom: solid 4px var(--primary);
    border-radius: 20px;
    position: absolute;
    top: 34vh;
    text-align: center;
    /*padding: 0 0.4rem;
    */
    padding: 2rem 1rem;
    margin-top: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .hero .left img {
    display: none;
    opacity: 0.4;
  }
  .hero .left {
    /* margin-top: -10rem; */
    /* margin-right: -9rem; */
    padding-bottom: 20rem;
  }

  .mobile-aboute {
    flex-direction: column;
  }
  .mobile-aboute-center {
    text-align: center;
    margin-top: 2rem;
  }
  .mobile-aboute-center .social {
    justify-content: center;
  }

  section.about .about-me-img {
    height: 325px;
    width: auto;
  }

  section {
    padding: 4rem 0;
  }
  section.services .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 6rem;
  }
  section.work .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section.blog .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section.skills .card-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
  }

  section.review .slider .slide {
    padding: 0 0;
  }
  section.review .slider .slide {
    margin-bottom: 3rem;
  }
  section.contact .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section.contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  section.contact .input-wrap-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.text-white {
  color: rgb(232, 226, 226);
}

.underline {
  text-decoration:none
}